{{- if .Params.math }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    if (typeof renderMathInElement === "function") {
      renderMathInElement(document.body, {
        delimiters: [
          {left: '$$', right: '$$', display: true},
          {left: '\\[', right: '\\]', display: true}
        ],
        throwOnError: false
      });
    }

    if (typeof katex === "object") {
      document.querySelectorAll('span.math').forEach(function (el) {
        katex.render(el.textContent, el, {
          throwOnError: false,
          displayMode: false
        });
      });
    }
  });
</script>
{{- end }}
